{% extends 'base.html' %} 
{% load crispy_forms_tags %}

{% block title %}Log In{% endblock title %} 

{% block content %} 

<style>
    .asteriskField {
        display: none;
    }
</style>

<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <h2>Log In</h2>
    </div>
</div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
        <form action="" method="post">
            {% csrf_token %} 
            <div class="form-group">
                {{ form.username|as_crispy_field }}
            </div>
            <br>
            <div class="form-group">
                {{ form.password|as_crispy_field }}
            </div>
            <br>
            <button class="btn btn-success" type="submit">Log In</button>
        </form>
        <hr>
        <div class="text-center">
            Need and account? <a href="{% url 'signup' %}">Sign Up here</a>
        </div>
    </div>
</div>

{% endblock content %} 