{% extends 'base.html' %} 


{% block title %}SavePal{% endblock title %} 


{% block content %} 
<br>
<br>
<br>
<br>
    <div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

            <h1>Trust SavePal!</h1>
            <p>Save it or Spend it. Classical ecomomics states human wants are unlimited, while resources are scarce, however true that might be, that shouldn't stop you from having the things you so much desire. We created <b>SavePal</b>, your personal online <i>piggy bank</i>, cause we know churning the numbers can be a chore. Let's take the burden and anxiety off of you. Welcome to a smart and stress free way of saving.</p>
            <a href="{% url 'savings_new' %}" role="button" class="btn btn-success btn-lg">Start</a>
        </div>
    </div>
{% endblock content %} 
