{% extends 'base.html' %} 
{% load humanize %}

{% block title %}Piggy{% endblock title %} 


{% block content %} 
<br>
<br>
    <div class="container row">
        <div class="col-md-6">
            <a href="{% url 'savings_list' %}">Back to savings</a>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h2>{{ piggy.desired_item }}</h2>
            <p><b>Price:</b> ₦{{ piggy.desired_item_cost|intcomma }}</p>
            <p><b>Daily expenses:</b> ₦{{ piggy.daily_expenses|intcomma }}</p>
            <p><b>Monthly donations:</b> ₦{{ piggy.monthly_donations|intcomma }}</p>
            <p><b>Monthly bills:</b> ₦{{ piggy.monthly_bills|intcomma }}</p>
            <p><b>Monthly Income:</b> ₦{{ piggy.monthly_income|intcomma }}</p>
            {% if piggy.spare_cash < 0 %} 
            <div class="alert alert-danger" role="alert">
                <p>
                    Oops. You don't have enough cash to save up. Why not review your expenses and see what you can do without xx.
                </p>
                <p>You have a monthly debt of <b>-₦{{ piggy.spare_cash|intcomma }}</b></p>                
            </div>
            {% else %} 
            <div class="alert alert-info" role="alert">
                <p>You have to save <b>₦{{ piggy.spare_cash|intcomma }}</b> daily for the next <b>{{ piggy.num_days|intcomma }} day{{ piggy.num_days|pluralize }}</b></p>
            </div>
            {% endif %}
            <!-- {% if not error %}
            <div class="alert alert-info" role="alert">
                <p>You have to save <b>₦{{ spare_cash|intcomma }}</b> daily for the next <b>{{ days|intcomma }} days</b></p>
            </div>
            {% endif %} -->

            <a href="{% url 'savings_edit' piggy.pk %}" role="button" class="btn btn-primary">Edit</a>
            <a href="{% url 'savings_delete' piggy.pk %}" role="button" class="btn btn-danger">Delete</a>
        </div>
    </div>

{% endblock content %}

    